extends pug/base

append vars
	//- ...
	-title = "Тестовое задание для Принт Бара"

block content
	//- ...

	.header
		.wrapper
			.logo
				h3 Мир Лагерей
			.search
				form()
					button(type="submit")
						+svg("search")#search-icon
					input(type="text" placeholder="Поиск лагеря" )



	.plate
		.wrapper
			h2.slogan Помогаем выбрать лагерь для вашего ребенка.
				br
				| Быстро и бесплатно.

	.page-name
		.wrapper
			p.breadcrumbs Детские лагеря  / Все / Россия  / Москва и Московская область  /  Языковые лагеря
			h1 Языковые и оздоровительные лагеря в Краснодарском крае на берегу Черного моря
			p.result Найдено
				span.numbers 123
				| детских лагеря

	section.main
		.wrapper
			.snippets
				.sorting
					form
						.new-select
							select
								option Цена: Любая
								option Цена: До 20000
								option Цена: До 40000
								option Цена: До 60000
						.new-select
							select
								option Смена: Любая
								option
									span Смена: Зима
								option Смена: Осень
								option Смена: Весна
						.new-select
							select
								option Отзывы: Любые
								option Отзывы: Отличные
								option Отзывы: Хорошие
								option Отзывы: Плохие

				.snippet.snippet-popular
					.info
						h2 Языковой  образовательный лагерь "Junior Camp"
						p.who ООО Юниум
							span.square &#9632;
							| Краснодарский край
						.info-main
							img(src="images/image-popular.jpg").snippet-popular__image
							.text
								.tags
									span.tag
										a(href="#") Почти спортивный
									span.tag
										a(href="#") Отличный
									span.tag
										a(href="#") Образовательный
									span.tag
										a(href="#") Спортивные
								p.about Каждый родитель хочет видеть своего ребёнка самым счастливым. Именно поэтому наш детский лагерь уже 11 лет дарит незабываемые каникулы детям и подросткам уже двадцать пять лет подряд.
								.infrastructure
									.infra
										span.sprite-circle-with-dot
										span.object Футбольное поле
									.infra
										span.sprite-circle-with-dot
										span.object Баскетбольная площадка
									.infra
										span.sprite-circle-with-dot
										span.object Бассейн
									.infra
										span.sprite-circle-with-dot
										span.object Теннисный корт
									.infra
										span.sprite-circle-with-dot
										span.object Собственный пляж (песок)
								p.dates 3 ноября - 15 октября
								a(href="#").else Посмотреть еще смены
					.data
						//.popular
						span.sprite-popular
						.stars
							span.sprite-star
							span.sprite-star
							span.sprite-star
							span.sprite-star
							span.sprite-star
						.rating
							span.main 5,0
							span.from /5
						p.feedbacks 37 отзывов
						p.price-title Цена до 28 февраля
						p.price 22 345 р
						a.more(href="#")
							span.a Подробнее
							span.b Забронировать
				.snippet
					.info
						h2 Языковой  образовательный лагерь "Junior Camp"
						p.who ООО Юниум
							span.square &#9632;
							| Краснодарский край
						.info-main
							img(src="images/image-simple.jpg").snippet-simple__image
							.text
								.tags
									span.tag
										a(href="#") Почти спортивный
									span.tag
										a(href="#") Отличный
									span.tag
										a(href="#") Образовательный
									span.tag
										a(href="#") Спортивные
								p.about Каждый родитель хочет видеть своего ребёнка самым счастливым. Именно поэтому наш детский лагерь уже 11 лет дарит незабываемые каникулы детям и подросткам уже двадцать паять лет падряд.
								p.dates 3 ноября - 15 октября
								a(href="#").else Посмотреть еще смены
					.data
						.stars
							span.sprite-star
							span.sprite-star
							span.sprite-star
							span.sprite-star
							span.sprite-star
						.rating
							span.main 4,5
							span.from /5
						p.feedbacks 37 отзывов
						p.price-title Цена до 28 февраля
						p.price 22 345 р
						a.more(href="#")
							span.a Подробнее
							span.b Забронировать
				.snippet
					.info
						h2 Языковой  образовательный лагерь "Junior Camp"
						p.who ООО Юниум
							span.square &#9632;
							| Краснодарский край
						.info-main
							img(src="images/image-simple2.jpg").snippet-simple__image
							.text
								.tags
									span.tag
										a(href="#") Почти спортивный
									span.tag
										a(href="#") Отличный
									span.tag
										a(href="#") Образовательный
									span.tag
										a(href="#") Спортивные
								p.about Каждый родитель хочет видеть своего ребёнка самым счастливым. Именно поэтому наш детский лагерь уже 11 лет дарит незабываемые каникулы детям и подросткам уже двадцать паять лет падряд.
								p.dates 3 ноября - 15 октября
								a(href="#").else Посмотреть еще смены
					.data
						.stars
							span.sprite-star
							span.sprite-star
							span.sprite-star
							span.sprite-star
							span.sprite-star
						.rating
							span.main 4,5
							span.from /5
						p.feedbacks 37 отзывов
						p.price-title Цена до 28 февраля
						p.price 22 345 р
						a.more(href="#")
							span.a Подробнее
							span.b Забронировать


				.snippet
					.info
						h2 Языковой  образовательный лагерь "Junior Camp"
						p.who ООО Юниум
							span.square &#9632;
							| Краснодарский край
						.info-main
							img(src="images/image-simple.jpg").snippet-simple__image
							.text
								.tags
									span.tag
										a(href="#") Почти спортивный
									span.tag
										a(href="#") Отличный
									span.tag
										a(href="#") Образовательный
									span.tag
										a(href="#") Спортивные
								p.about Каждый родитель хочет видеть своего ребёнка самым счастливым. Именно поэтому наш детский лагерь уже 11 лет дарит незабываемые каникулы детям и подросткам уже двадцать паять лет падряд.
								p.dates 3 ноября - 15 октября
								a(href="#").else Посмотреть еще смены
					.data
						.stars
							span.sprite-star
							span.sprite-star
							span.sprite-star
							span.sprite-star
							span.sprite-star
						.rating
							span.main 4,5
							span.from /5
						p.feedbacks 37 отзывов
						p.price-title Цена до 28 февраля
						p.price 22 345 р
						a.more(href="#")
							span.a Подробнее
							span.b Забронировать


				.snippet
					.info
						h2 Языковой  образовательный лагерь "Junior Camp"
						p.who ООО Юниум
							span.square &#9632;
							| Краснодарский край
						.info-main
							img(src="images/image-simple2.jpg").snippet-simple__image
							.text
								.tags
									span.tag
										a(href="#") Почти спортивный
									span.tag
										a(href="#") Отличный
									span.tag
										a(href="#") Образовательный
									span.tag
										a(href="#") Спортивные
								p.about Каждый родитель хочет видеть своего ребёнка самым счастливым. Именно поэтому наш детский лагерь уже 11 лет дарит незабываемые каникулы детям и подросткам уже двадцать паять лет падряд.
								p.dates 3 ноября - 15 октября
								a(href="#").else Посмотреть еще смены
					.data
						.stars
							span.sprite-star
							span.sprite-star
							span.sprite-star
							span.sprite-star
							span.sprite-star
						.rating
							span.main 4,5
							span.from /5
						p.feedbacks 37 отзывов
						p.price-title Цена до 28 февраля
						p.price 22 345 р
						a.more(href="#")
							span.a Подробнее
							span.b Забронировать


				.paginator
					.pager
						p Страница
						.pages
							.left-arrow
								span &#9664;
							.dotes
								.circle 1
								.circle-empty
								.circle-empty
								.circle-empty
								.circle-empty
								.circle-empty
								.circle-empty
								.circle-empty
								.circle-empty
								.circle-empty
								.circle-empty
								.circle-empty
								.circle 14
								.circle-empty
								.circle-empty
								.circle-empty
							.right-arrow
								span &#9654;
					.range
						p Показать по:
						.number
							span.now 10
							span 40
							span 100
							span 200

			.filter
				h3 Уточнить поиск
				form
					label Возраст
					.new-select
						select(name="age")
							option Выберите возраст
							option 0-1
							option 1-2
							option 3-4
							option 5-6
							option 7-8
							option 9-10
							option 11-13
							option 14-16
					label Страна
					.new-select
						select(name="country")
							option Россия
							option Турция
							option Абхазия
					label Тип лагеря
					.new-select
						select(name="camptype")
							option Спортивный
							option Образовательный
							option Оздоровительный
							option Просто отдых
					input(type="submit" value="Найти лагерь")

	section.review
		.wrapper
			h2 Последние отзывы
			.review__blocks
				.block
					.header
						.square-yellow
						h3 Образовательный лагерь "Junior Camp"
					.rating
						span.black-stars &#9733; &#9733; &#9733; &#9733; &#9733;
						span.grade 5.0
					p.date 26.02.2018
					p.text В качестве отзыва по осеннему заезду хочу процитировать свою дочь Женю: ‘Поеду еще в лагерь только с этими людьми! Если бы все дети учились в моем классе, и вожатые бы вели уроки - ходила бы в школу с радостью. Это была первая ее поездка и очень удачная. Спасибо всем ребятам! Безмерно восхищаюсь Евгенией и Станиславом, видя какие силы они вкладывают в организацию и наполнение программ.
					.signature
						p.name Анна
						p.who Родитель
				.block
					.header
						.square-yellow
						h3 Образовательный лагерь "Junior Camp"
					.rating
						span.black-stars &#9733; &#9733; &#9733; &#9733; &#9733;
						span.grade 5.0
					p.date 26.02.2018
					p.text В качестве отзыва по осеннему заезду хочу процитировать свою дочь Женю: ‘Поеду еще в лагерь только с этими людьми! Если бы все дети учились в моем классе, и вожатые бы вели уроки - ходила бы в школу с радостью. Это была первая ее поездка и очень удачная. Спасибо всем ребятам! Безмерно восхищаюсь Евгенией и Станиславом, видя какие силы они вкладывают в организацию и наполнение программ.
					.signature
						p.name Анна
						p.who Родитель
				.block
					.header
						.square-yellow
						h3 Образовательный лагерь "Junior Camp"
					.rating
						span.black-stars &#9733; &#9733; &#9733; &#9733; &#9733;
						span.grade 5.0
					p.date 26.02.2018
					p.text В качестве отзыва по осеннему заезду хочу процитировать свою дочь Женю: ‘Поеду еще в лагерь только с этими людьми! Если бы все дети учились в моем классе, и вожатые бы вели уроки - ходила бы в школу с радостью. Это была первая ее поездка и очень удачная. Спасибо всем ребятам! Безмерно восхищаюсь Евгенией и Станиславом, видя какие силы они вкладывают в организацию и наполнение программ.
					.signature
						p.name Анна
						p.who Родитель
				.block
					.header
						.square-yellow
						h3 Образовательный лагерь "Junior Camp"
					.rating
						span.black-stars &#9733; &#9733; &#9733; &#9733; &#9733;
						span.grade 5.0
					p.date 26.02.2018
					p.text В качестве отзыва по осеннему заезду хочу процитировать свою дочь Женю: ‘Поеду еще в лагерь только с этими людьми! Если бы все дети учились в моем классе, и вожатые бы вели уроки - ходила бы в школу с радостью. Это была первая ее поездка и очень удачная. Спасибо всем ребятам! Безмерно восхищаюсь Евгенией и Станиславом, видя какие силы они вкладывают в организацию и наполнение программ.
					.signature
						p.name Анна
						p.who Родитель

				.block
					.header
						.square-yellow
						h3 Образовательный лагерь "Junior Camp"
					.rating
						span.black-stars &#9733; &#9733; &#9733; &#9733; &#9733;
						span.grade 5.0
					p.date 26.02.2018
					p.text В качестве отзыва по осеннему заезду хочу процитировать свою дочь Женю: ‘Поеду еще в лагерь только с этими людьми! Если бы все дети учились в моем классе, и вожатые бы вели уроки - ходила бы в школу с радостью. Это была первая ее поездка и очень удачная. Спасибо всем ребятам! Безмерно восхищаюсь Евгенией и Станиславом, видя какие силы они вкладывают в организацию и наполнение программ.
					.signature
						p.name Анна
						p.who Родитель
				.block
					.header
						.square-yellow
						h3 Образовательный лагерь "Junior Camp"
					.rating
						span.black-stars &#9733; &#9733; &#9733; &#9733; &#9733;
						span.grade 5.0
					p.date 26.02.2018
					p.text В качестве отзыва по осеннему заезду хочу процитировать свою дочь Женю: ‘Поеду еще в лагерь только с этими людьми! Если бы все дети учились в моем классе, и вожатые бы вели уроки - ходила бы в школу с радостью. Это была первая ее поездка и очень удачная. Спасибо всем ребятам! Безмерно восхищаюсь Евгенией и Станиславом, видя какие силы они вкладывают в организацию и наполнение программ.
					.signature
						p.name Анна
						p.who Родитель
			a(href="#").else Показать другие отзывы

	section.find
		.wrapper
			h2 Нужна помощь?
			p Оставьте заявку и мы поможем выбрать идеальный лагерь!
			form
				input(type="text" placeholder="Павел" name="name")
				input(type="text" placeholder="E-mail / Телефон" name="contact")
				textarea(placeholder="Сообщение")
				button.submit Отправить заявку

	section.footer
		.wrapper
			.footer__block.footer__block-with-social
				.text
					h3 Мир Лагерей
					hr
					p Полный каталог программ отдыха для детей в России, странах СНГ, Европе и мире.
					p Мы поможем подобрать вам лучший детский лагерь для вашего ребенка.
				.social
					a(href="https://facebook.com" target="_blank")
						+svg("facebook")
					a(href="https://vk.com" target="_blank")
						+svg("vk")
					a(href="tel:+79629244403" target="_blank")
						+svg("phone")
					a(href="https://telegram.org" target="_blank")
						+svg("telegram")
					a(href="https://api.whatsapp.com/send?phone=79629244403" target="_blank")
						+svg("whatsapp")

			.footer__block
				h3 Новые программы
				hr
				p Детский оздоровительный лагерь “Искра”
					br
					span.date 2018-02-13
				p Детский оздоровительный лагерь “Искра”
					br
					span.date 2018-02-13
				p Детский оздоровительный лагерь “Искра”
					br
					span.date 2018-02-13

			.footer__block
				h3 Контакты
				hr
				p ООО "Многообразие"
				p 125080, г Москва, шоссе Волоколамское, дом 1 стр. 1, пом. IV комн. 33
				p Телефон:&ensp;
					a(href="tel:+74996478213" target="_blank") +7 (499) 647-82-13
				p Связаться по любым вопросам:
					br
					a(href="mailto:contact@mir-lagerey.ru" target="_blank") contact@mir-lagerey.ru
				p Реклама, партнерство:&ensp;
					a(href="mailto:sales@mir-lagerey.ru" target="_blank") sales@mir-lagerey.ru
