$sprites: (
	"circle-with-dot": (
		normal: (
			x: 115,
			y: 66,
			width: 13,
			height: 13,
			image: "sprites.png",
			total_width: 153,
			total_height: 91,
		),
		retina: (
			x: 230,
			y: 132,
			width: 26,
			height: 26,
			image: "sprites@2x.png",
			total_width: 306,
			total_height: 182,
		),
	),
	"phone": (
		normal: (
			x: 89,
			y: 0,
			width: 64,
			height: 64,
			image: "sprites.png",
			total_width: 153,
			total_height: 91,
		),
		retina: (
			x: 178,
			y: 0,
			width: 128,
			height: 128,
			image: "sprites@2x.png",
			total_width: 306,
			total_height: 182,
		),
	),
	"popular": (
		normal: (
			x: 0,
			y: 0,
			width: 87,
			height: 91,
			image: "sprites.png",
			total_width: 153,
			total_height: 91,
		),
		retina: (
			x: 0,
			y: 0,
			width: 174,
			height: 182,
			image: "sprites@2x.png",
			total_width: 306,
			total_height: 182,
		),
	),
	"star": (
		normal: (
			x: 89,
			y: 66,
			width: 24,
			height: 23,
			image: "sprites.png",
			total_width: 153,
			total_height: 91,
		),
		retina: (
			x: 178,
			y: 132,
			width: 48,
			height: 46,
			image: "sprites@2x.png",
			total_width: 306,
			total_height: 182,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
