// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;

$color-large-text: #1e1e1e;
$color-text: #242424;

$color-gold: #ffc554;
$color-gold-background: #fff0d4;
$color-gold-lighter: #fffbf3;

$color-blue: #1769e3;
$color-blue-bold-text: #174cd5;

$color-light-grey: #f7f7f7;
$color-grey-background: #f4f4f4;
$color-grey-background-feedback: #f8f8f8;

$color-red: #e74c3c;


// FONTS

@font-face {
	font-family: "MullerRegular";
	src: local("MullerRegular"),
		 url("fonts/MullerRegular.eot") format("eot"),
		 url("fonts/MullerRegular.svg") format("svg"),
		 url("fonts/MullerRegular.ttf") format("ttf"),
		 url("fonts/MullerRegular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "MullerBold";
	src: local("MullerBold"),
		 url("fonts/MullerBold.eot") format("eot"),
		 url("fonts/MullerBold.svg") format("svg"),
		 url("fonts/MullerBold.ttf") format("ttf"),
		 url("fonts/MullerBold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

