// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;

//$color-large-text: #1e1e1e;
//$color-text: #242424;
$color-text: #1e1e1e;

$color-gold: #ffc554;
$color-gold-background: #fff0d4;
$color-gold-lighter: #fffbf3;

$color-blue: #1769e3;
$color-blue-bold-text: #174cd5;

$color-light-grey: #f7f7f7;
$color-grey-background: #f4f4f4;
$color-grey-background-feedback: #f8f8f8;

$color-red: #e74c3c;

// FONTS

$ff-bold-text: "MullerBold", sans-serif;
$ff-regular-text: "MullerRegular", sans-serif;
