// stylelint-disable at-rule-empty-line-before

@import "variables";
@import "functions";
@import "mixins";
@import "sprites";
@import "fonts";
@import "vendor";
@import "base";

* {
	margin: 0;
	padding: 0;
}

html, body {
	background-color: $color-white;
	color: $color-text;
}

h1, h2 {
	font-family: $ff-bold-text, sans-serif;
}

p {
	font-family: $ff-regular-text;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}

.header > * {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	padding: 15px 0;

	.logo {
		h3 {
			font-family: $ff-bold-text;
			font-size: 26px;
			font-weight: bold;
		}
	}

	.search {
		border: 1px solid $color-text-header-feedback;
		padding: 10px 13px;
		border-radius: 7px;
		width: 260px;
		margin-right: 25px;

		form {
			input[type="text"],
			input[type="submit"] {
				margin: 0;
				border: 0;
				font-size: 16px;
			}

			input[type="text"] {
				width: 200px;
				color: $color-text;
				outline: none;

				&::placeholder {
					color: $color-text;
				}
			}

			svg {
				width: 16px;
				height: 16px;
				background-color: $color-white;
			}


			button[type="submit"] {
				outline: none;
				margin-right: 5px;
				border: 0;

				#search-icon {
					border: 0;
					outline: none;
				}
			}
		}
	}
}

.plate {
	background-image: linear-gradient(to top, rgba(37,37,37,.6), rgba(37,37,37,.6)), url("../images/plate-background.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;

	height: 160px;
	width: 100%;
	color: $color-white;
	margin-bottom: 35px;

	position: relative;

	h2.slogan {
		font-size: 28px;
		color: $color-white;
		margin: auto;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
	}
}

.page-name {
	margin-bottom: 30px;

	p.breadcrumbs {
		font-size: 14px;
	}

	h1 {
		font-size: 40px;
	}

	p.result {
		font-size: 24px;
		span.numbers {
			color: $color-blue-bold-text;
			font-family: $ff-bold-text;
			margin-left: 7px;
			margin-right: 7px;
		}
	}
}

section.main > * {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;

	.snippets {
		width: 74%;

		.sorting {
			form {
				display: flex;
				justify-content: flex-start;

				select {
					appearance: none !important;

				}


				.new-select {
					padding: 15px 20px;
					background-color: $color-light-grey;
					border: 0;
					border-radius: 6px;
					height: 50px;
					min-width: 200px;
					margin-right: 25px;
					box-shadow: 4px 4px 10px 0 rgba(161, 161, 161, 0.4);
				}

				.new-select select {
					outline: 0;
					font-size: 18px;
					border: 0;
					}

			}
		}

		.snippet {
			display: flex;
			justify-content: space-between;

			min-height: 292px;
			margin: 30px 0;

			box-shadow: -5px -5px 8px 0 rgba(209, 209, 209, 0.2), 0 6px 10px 0 rgba(209, 209, 209, 0.2);


			.info {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding: 20px;
				max-width:625px;

				h2 {
					margin-bottom: 5px;
				}

				p.who {
					color: $color-text-where;
					font-size: 12px;
					span.square {
						margin-left:10px;
						margin-right:10px;
					}
				}

				.info-main {

					img.snippet-simple__image {
						width: 219px;
						height: 193px;
						float: left;
						margin: 20px 20px 0 0;
					}

					img.snippet-popular__image {
						width: 204px;
						height: 251px;
						float: left;
						margin: 20px 20px 0 0;
					}

					.text {
						margin-top: 20px;
						display: flex;
						flex-direction: column;

						.tags {
							display: flex;
							flex-wrap: wrap;
							justify-content: flex-start;
							margin-bottom: 17px;
							.tag {
								padding: 5px 10px;
								border: 2px solid $color-gold-border;
								border-radius: 10px;
								margin: 0 5px 5px 0;
								font-size: 11px;
								color: $color-text-where;

								a {
									text-decoration: none;
									color: $color-text-where;

									&:hover {
										text-decoration: underline;
										color: $color-gold-border;
									}
								}
							}
						}

						p.about {
							font-size: 13px;
							color: $color-text;
							line-height: 17px;
							margin-bottom: 10px;
						}

						.infrastructure {
							display: flex;
							flex-wrap: wrap;
							justify-content: flex-start;
							margin-bottom: 17px;

							.infra {
								display: flex;
								flex-wrap: nowrap;
								justify-content: flex-start;
								align-items: center;
								font-size: 11px;
								color: $color-black;
								margin-bottom: 5px;

								span {
									margin-right: 7px;
								}
								span.object {
									margin-right: 10px;
								}
							}
						}

						p.dates {
							font-family: $ff-bold-text;
							font-weight: bold;
							font-size: 11px;
							color: $color-text-where;
							margin-bottom: 10px;
						}

						a.else {
							color: $color-blue-link;
							font-size: 12px;
							text-decoration: underline;
							&:hover {
								color: $color-blue-bold-text;
								text-decoration: none;
							}
						}
					}
				}
			}
			.data {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;

				width: 223px;
				background-color: $color-grey-background;

				.stars {
					display: flex;
					align-items: center;
					justify-content: space-around;
					margin-top: 25px;
					margin-bottom: 10px;
				}

				.rating {
					margin-bottom: 10px;
					span.main {
						font-size: 26px;
						font-family: $ff-bold-text;
						color: $color-text;
					}
					span.from {
						font-size: 20px;
						font-family: $ff-regular-text;
						color: $color-text-where;
					}
				}

				p.feedbacks {
					font-size: 13px;
					color: $color-text-where;
					font-family: $ff-regular-text;
					margin-bottom: 30px;
				}

				p.price-title {
					font-size: 10px;
					font-family: $ff-regular-text;
					color: $color-text-where;
					margin-bottom: 10px;
				}

				p.price {
					font-size: 30px;
					font-family: $ff-bold-text;
					color: $color-text;
					margin-bottom: 20px;

				}

				a.more {
					background-color: $color-blue-link;
					color: $color-white;
					width: 170px;
					text-align: center;
					padding-top: 15px;
					padding-bottom: 15px;
					margin-bottom: 25px;
					border-radius: 6px;
					text-decoration: none;

					.a {
						display: inline;
					}
					.b {
						display: none;
					}

					&:hover {
						background-color: $color-button-hover;
					}
					&:hover .a {
						display: none;
					}
					&:hover .b {
						display: inline;
					}

					&:active {
						background-color: $color-button-active;
					}
					&:active .a {
						display: inline;
					}
					&:active .b {
						display: none;
					}
				}
			}

			&-popular {
				background-color: $color-gold-lighter;
				box-shadow: -5px -5px 8px 0 rgba(255, 240, 212, 0.6), 0 6px 10px 0 rgba(255, 240, 212, 0.6);

				.data{
					width: 223px;
					background-color: $color-gold-background;
					position: relative;

					span.sprite-popular {
						position:absolute;
						top: -5px;
						right: -5px;
					}

					.stars {
						margin-top: 60px;
					}
					.feedbacks {
						margin-bottom: 40px;
					}
					a.more {
						margin-bottom: 60px;
					}
				}
			}
		}

		.paginator {
			display: flex;
			justify-content: space-between;
			margin-bottom: 35px;
			margin-top: 35px;

			p {
				font-size: 18px;
				margin-bottom: 15px;
			}

			.pages {
				//background-color: $color-grey-background;
				width: 570px;
				height: 40px;
				color: $color-of-paginator-dots;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.left-arrow {
					background-color: $color-grey-background;
					width: 50px;
					border-bottom-left-radius: 5px;
					border-top-left-radius: 5px;
					margin-right: 2px;
					height: 100%;
					padding: 8px 15px;
					span {
						width: 10px;
						height: 12px;
						&:hover {
							color: $color-blue-link;
							cursor: pointer;
						}
					}
				}

				.right-arrow {
					background-color: $color-grey-background;
					width: 50px;
					border-bottom-right-radius: 5px;
					border-top-right-radius: 5px;
					height: 100%;
					margin-left: 2px;
					padding: 10px 12px 10px 20px;
					span {
						width: 10px;
						height: 12px;
						&:hover {
							color: $color-blue-link;
							cursor: pointer;
						}
					}
				}
				.dotes {
					display: flex;
					justify-content: space-evenly;
					align-items: center;
					background-color: $color-grey-background;
					height: 100%;
					width: 100%;

					.circle {
						width: 20px;
						height: 20px;
						border-radius: 50%;
						background-color: $color-of-paginator-dots;
						color: $color-white;
						text-align: center;
						padding-top:5px;
						margin: auto 7px;

						font-family: $ff-bold-text;
						font-size: 12px;

						&:hover {
							background-color: $color-blue-link;
							cursor: pointer;
						}
					}

					.circle-empty {
						width: 13px;
						height: 13px;
						border-radius: 50%;
						margin: auto 7px;
						background-color: $color-of-paginator-dots;

						&:hover {
							background-color: $color-blue-link;
							cursor: pointer;
						}
					}
				}
			}

			.range {
				.number {
					width: 150px;
					height: 40px;
					background-color: $color-grey-background;
					display: flex;
					justify-content: space-between;
					align-items: center;

					span {
						font-family: $ff-bold-text;
						font-size: 12px;
						color: $color-white;
						width: 28px;
						height: 28px;
						border-radius: 50%;
						background-color: $color-of-paginator-dots;
						text-align: center;
						padding-top: 9px;

						&:hover {
							background-color: $color-blue-link;
							cursor: pointer;
						}
					}

					.now {
						background-color: $color-blue-link;
					}
				}
			}

		}
	}

	.filter {
		width: 280px;
		//width: 25%;
		//height: 235px;
		background-color: $color-light-grey;
		padding: 30px;

		h3 {
			font-size: 24px;
			font-family: $ff-regular-text;
			margin-bottom: 25px;
		}

		form {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			label {
				font-family: $ff-bold-text;
				font-size: 18px;
				margin-bottom: 15px;
			}

			select {
				appearance: none !important;
				color: $color-text;

				&::placeholder {
					color: $color-input-placeholder;
				}
			}

			.new-select {
				padding: 15px 20px;
				background-color: $color-white;
				border: 0;
				border-radius: 6px;
				height: 50px;
				margin-bottom: 25px
			}
			.new-select select {
				outline: 0;
				font-size: 15px;
				border: 0;
				background-color: $color-white;
				width: 100%;
			}

			input[type="submit"] {
				color: $color-white;
				font-size: 18px;
				text-decoration: none;
				padding: 10px 50px;
				border-radius: 7px;
				border: 0;
				background-color: $color-blue-link;
				outline: 0;

				&:active {
					background-color: $color-button-active;
				}
				&:hover {
					background-color: $color-button-hover;
				}
			}
		}
	}
}

section.review {
	background-color: $color-grey-background-feedback;
	&> * {
		display: flex;
		flex-direction: column;
		align-items: center;
		h2 {
			font-size: 45px;
			color: $color-text-header-feedback;
			padding-top: 50px;
			padding-bottom: 15px;
		}
		.review__blocks {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;

			.block {
				//max-width: 360px;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				width: 30%;
				margin: 15px;


				.header {
					display: flex;
					align-items: center;

					.square-yellow {
						width: 46px;
						height: 46px;
						background-color: $color-gold-border;
						float: left;
						margin-right: 17px;
					}

					h3 {
						font-size: 16px;
						color: $color-text-header-feedback-block;
					}
				}

				.rating {
					margin-bottom: 15px;

					span.black-stars {
						font-size: 13px;
					}

					.grade {
						font-size: 15px;
						font-family: $ff-bold-text;
						margin-left: 15px;
					}
				}

				p.date {
					font-size: 14px;
					margin-bottom: 15px;
				}

				p.text {
					font-family: $ff-lightitalic-text;
					font-size: 14px;
					line-height: 19px;
					letter-spacing: -.042px;
					margin-bottom: 20px;
				}

				p.name {
					font-size: 16px;
					font-family: $ff-bold-text;
					margin-bottom: 5px;
				}

				p.who {
					font-size: 16px;
				}
			}
		}
		a.else {
			background-color: $color-blue-link;
			color: $color-white;
			text-align: center;
			padding:15px 35px;
			margin-top: 80px;
			margin-bottom: 55px;
			border-radius: 6px;
			text-decoration: none;

			&:hover {
				background-color: $color-button-hover;
			}

			&:active {
				background-color: $color-button-active;
			}
		}

	}
}

section.find {
	background-image: linear-gradient(to top, rgba(37,37,37,.4), rgba(37,37,37,.4)), url("../images/find-background.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	//height: 560px;

	color: $color-white;

	&> * {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		h2 {
			margin-top: 50px;
			margin-bottom: 20px;
			font-size: 45px;
			font-family: $ff-bold-text;
		}

		p {
			font-size: 22px;
			font-family: $ff-regular-text;
		}

		form {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			font-family: $ff-regular-text;
			margin-bottom: 50px;


			.inputs {
				display: flex;
				justify-content: space-between;
				margin-top: 30px;
				margin-bottom: 20px;

				input[type="text"] {
					padding: 5px 10px;
					border: 2px solid $color-gold-border;
					border-radius: 7px;
					font-size: 16px;
					outline: none;

					&::placeholder {
						font-size: 16px;
						color: $color-text;
					}

					&:first-child {
						margin-right: 20px;
					}
				}
			}

			textarea {
				width: 400px;
				height: 180px;
				padding: 20px;
				border-radius: 7px;
				border: 0;
				outline: none;

				&::placeholder {
					color: $color-input-placeholder;
				}
			}

			input[type="submit"] {
				background-color: $color-blue-link;
				color: $color-white;
				text-align: center;
				padding:15px 55px;
				margin-top: 45px;
				border-radius: 6px;
				text-decoration: none;
				outline: 0;
				border: 0;

				&:hover {
					background-color: $color-button-hover;
				}

				&:active {
					background-color: $color-button-active;
				}
			}
		}

	}
}

section.footer {
	background-color: $color-footer-background;

	& > * {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		color: $color-white;

		.footer__block {
			display: block;
			width: 29%;
			margin: 20px;
			position: relative;

			h3 {
				font-size: 22px;
				margin-bottom: 15px;
			}

			hr {
				width: 67%;
				margin-bottom: 20px;
			}

			p {
				font-size: 15px;
				font-family: $ff-regular-text;
				margin-bottom: 20px;

				span.date {
					font-size: 12px;
					color: $color-footer-grey;
				}
			}

			a {
				color: $color-gold-border;
				text-decoration: none;
				outline: none;
			}

			.social {
				padding-top: 60px;
				svg {
					display: inline-block;
					width: 40px;
					height: 30px;
					fill: $color-gold-border;
					padding-right: 10px;
				}
				a {
					text-decoration: none;
					outline: none;
				}
			}
		}
	}
}

